@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
a {
    all: unset;
    cursor: pointer;
    color: white;
}
h1 {
    color: white;
    font-size: 60px;
}
h2 {
    font-weight:bold;
    font-size: 40px;
}
p {
    padding: 7px;
    font-size: 16px;
    white-space: normal;
    line-height: 1.7;
}  
footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.logo{
    height: 100%;
}
.links-container > a {
padding: 10px;
margin: 10px;
}

.historia-body {
    background-image: url(img/fondoHistoria.jpeg);
}
.historia-container {
    display: flex;
    background-color: rgb(45, 45, 45);
    flex-direction: column;
    text-wrap: wrap;
    align-items: center;
    width: 900px;
    height: 600px;
    padding: 45px;
    overflow: auto;
}
.h-container {
    display: flex;
    justify-content: center;
    padding: 60px;
}


/* PÃGINA CONTACTO */

.contact-container {
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: rgb(47, 47, 47);

}
.contact-container > div {
    width: 50%;
}
.img-contact-container {
    height: 100%;
    /* margin-left: 90px; */
   
}
.c-container {
    display: flex;
    justify-content: center;
    
}
.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 70px;
    width: 100%;
}

.contact-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 500px;
    margin-top: 20px;
}

#fname {
    background-color: rgb(47, 47, 47);
    border: 1px solid white;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
}

#email {
    background-color: rgb(47, 47, 47);
    border: 1px solid white;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
}
#text {
        background-color: rgb(47, 47, 47);
        border: 1px solid white;
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
    
}
#message {
        background-color: rgb(47, 47, 47);
        border: 1px solid white;
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
}
#submit {
    background-color: rgb(47, 47, 47);
    border: 1px solid white;
    padding: 10px;  
}
/* REVISTES */
.revistas-container {
    display: flex;
    align-items: center;
    padding: 40px;
}

.revistas-imagenes-container {
   
    display: flex;
    align-content:center;
    justify-content: space-between;
    width: 1350px;
    height: 600px;
    padding: 10px;
    overflow: auto;
    box-shadow: 5px 5px 10px rgb(21, 21, 21);
    margin-left: 20px;
}
.revistas-imagenes-container img {
    padding: 4px;
}
#h1-rev {
    margin-top: 10px;
    text-align: center;
}

#h2-rev {
    text-align: center;
    margin-bottom: 20px;
}

.anys18 {
display: flex;
flex-direction: column;
align-items: center;
width: 1350px;
padding: 5px;
}
.anys18 video {
    width: 1000px;
}

.video-container {
    display: flex;
    justify-content: center;
}

/* INDEX */

.index-body {
    background-image: url(/img/fondocendra.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.index-container {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    justify-content: center;
    width: 900px;
    height: 400px;
    padding: 100px;
    overflow: auto;
}
.i-container {
    display: flex;
    justify-content: center;
    padding: 60px;
}
